/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Common Styling */
:root {
  --navBrandColor: #4a4a4a;
  --navLinkColor: #777777;
  --btnColor: #289bde;
  --sectionHeading: #1d1d1d;
  --accordionHeading: #4a4a4a;
  --accordionBtnBg: rgba(40, 155, 222, 0.1);
  --footerColor: #161616;
  --footerHeading: #fff;
  --footeerText: #e8e8e8;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation Section Styling */
.navbar-brand {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: var(--navBrandColor);
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--navLinkColor);
}

.btn-custom {
  border: 1px solid var(--btnColor);
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--btnColor);
  padding: 13px 33px;
}

.btn-custom:hover {
  background-color: #fff;
  border: 3px solid var(--btnColor);
  border-radius: 0;
  color: var(--btnColor);
}

/* FAQ Section Styling */
.faq-heading {
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: var(--sectionHeading);
}

.accordion-item {
  border: none;
}

.accordion-button {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--accordionHeading);
  background: var(--accordionBtnBg);
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
  color: var(--accordionHeading);
  background-color: var(--accordionBtnBg);
}

.collapsed {
  border: 1px solid var(--footeerText);
  background-color: var(--footerHeading);
}

.accordion-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--navLinkColor);
}

.faq-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--navLinkColor);
}

/* Trusted Section Styling */
.trusted-h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: var(--sectionHeading);
}

/* Footer Styling */
.footer-styling {
  background-color: var(--footerColor);
}

.footer-styling h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: var(--footerHeading);
}

.footer-styling p {
  color: var(--footeerText);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

footer .p2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
}

.footer-styling a {
  text-decoration: none;
  color: var(--footeerText);
}

/* Responsive Design */
@media screen and (min-width: 320px) and (max-width: 1099px) {
  .trusted-section {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .footer-styling h2 {
    font-size: 40px;
    line-height: 60px;
  }
}

/* @media (min-width: 320px) and (max-width: 576px) {
} */

@media (min-width: 320px) and (max-width: 480px) {
  /* FAQ Section Styling */
  .bg-screen {
    display: none;
  }

  /* Footer Styling */
  .footer-container {
    padding: 30px 47px;
  }

  .footer-styling h2 {
    font-size: 30px;
    line-height: 45px;
  }

  .footer-styling p,
  footer .p2 {
    font-size: 14px;
  }
}
